In [1]:
import pandas as pd
import os 
os.chdir('../src/')

In [2]:
video_level_df = pd.read_csv("../data/carolinetemp/video_level_df.csv",
                    dtype={"camera_id": str},
                    parse_dates=["video_upload_datetime"])
del video_level_df['Unnamed: 0']
video_level_df

     camera_id      video_upload_datetime vehicle_type  counts  stops  starts
0  00001.01252 2019-06-29 13:01:03.094068          car       7    4.0     0.0
1  00001.05900 2019-06-29 13:01:19.744908          bus       1    0.0     0.0
2  00001.05900 2019-06-29 13:01:19.744908          car       4    5.0     4.0