## Exploring folium with co-locating of TIMS and jamcam data as test case
17 June 2019, Jack Hensley

In [2]:
import folium
import boto3
import pandas as pd
% matplotlib inline

Make a map of london

In [3]:
London = [51.506949, -0.122876]
londonmap = folium.Map(
    width=500, height=500,
    location = London,
    zoom_start = 12, 
    tiles = 'stamentoner')

londonmap

import tims data and see if pandas dataframe can be added as a marker layer

In [4]:
# import tims and jam cam locations

# tims
session = boto3.Session(profile_name='dssg')
s3 = session.client('s3')
bucket_name = 'air-pollution-uk'
obj = s3.get_object(Bucket=bucket_name, Key='processed_data/tims/node_coords.csv')
tims_df = pd.read_csv(obj['Body'])

tims_df.head()

   Unnamed: 0    NODE    EASTING   NORTHING  LONGITUDE   LATITUDE
0           0  00/002  531633.00  181174.00  -0.104402  51.514163
1           1  00/003  533656.17  180943.61  -0.075350  51.511618
2           2  00/004  531400.00  181550.00  -0.107617  51.517597
3           3  00/005  531389.58  180817.87  -0.108040  51.511020
4           4  00/006  531648.94  180896.39  -0.104276  51.511665

In [5]:
tims_locations = tims_df[['LATITUDE', 'LONGITUDE']]
tims_location_list = tims_locations.values.tolist()
tims_location_list[0:10]

[[51.5141633840598, -0.10440159913027557],
 [51.51161845046011, -0.07535009391243043],
 [51.517596509059146, -0.10761739938442924],
 [51.51101961830904, -0.10804012179092776],
 [51.51166492597567, -0.1042755933589956],
 [51.512108279168785, -0.10211387302877913],
 [51.51622151833674, -0.10203341317616298],
 [51.51732305016336, -0.0887503477742653],
 [51.51476644331376, -0.08972053714003989],
 [51.51335250261293, -0.08895632333614241]]

repeat with jamcams

In [8]:
# import tims and jam cam locations

# tims
obj = s3.get_object(Bucket=bucket_name, Key='processed_data/jamcams/jamcam_coords.csv')
jc_df = pd.read_csv(obj['Body'])

jc_df.head()

                              NAME  LATITUDE  LONGITUDE
0           Romford_Rd/Tennyson_Rd   51.5421    0.00524
1                Piccadilly_Circus   51.5096   -0.13484
2  Blackheath_Rd/Greenwich_High_Rd   51.4742   -0.02073
3      Edgware_Way/Broadfields_Ave   51.6216   -0.27384
4       Cromwell_Rd/Earls_Court_Rd   51.4946   -0.19570

In [9]:
jc_locations = jc_df[['LATITUDE', 'LONGITUDE']]
jc_location_list = jc_locations.values.tolist()
jc_location_list[0:10]

[[51.5421, 0.00524],
 [51.5096, -0.13484000000000002],
 [51.4742, -0.02073],
 [51.6216, -0.27384000000000003],
 [51.4946, -0.1957],
 [51.514, -0.15409],
 [51.441, -0.10633],
 [51.5336, -0.02256],
 [51.4949, -0.12891],
 [51.3741, -0.09646]]

In [12]:
labelsizes = [0.1, 1, 10]
labelstr = ['small', 'regular', 'large']
for tick in range(len(labelsizes)):
    London = [51.506949, -0.122876]
    london_map = folium.Map(
        width=500, height=500,
        location = London,
        zoom_start = 20, 
        tiles = 'stamentoner')

    for point in range(0, len(tims_location_list)):
        folium.CircleMarker(tims_location_list[point],
                            radius=labelsizes[tick],
                            color='red',
                            fill_color='red',
                            fill_opacity=0.2
                           ).add_to(london_map)

    for point in range(0, len(jc_location_list)):
        folium.CircleMarker(jc_location_list[point],
                            radius=labelsizes[tick],
                            color='blue',
                            fill_color='blue',
                            fill_opacity=0.2
                           ).add_to(london_map)
    
    filestr_in = "C:/Users/joh3146/Documents/dssg/map_data_locations.html"
    filestr_out = filestr_in[:-5] + '_' + labelstr[tick] + filestr_in[-5:]
    print(filestr_out)
    london_map.save("C:/Users/joh3146/Documents/dssg/london_map_large_labels.html")

C:/Users/joh3146/Documents/dssg/map_data_locations_small.html
C:/Users/joh3146/Documents/dssg/map_data_locations_regular.html
C:/Users/joh3146/Documents/dssg/map_data_locations_large.html